@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Antic+Didone&family=Dancing+Script:wght@400;600&display=swap');
@import './styles/variables.css';

body {
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 